<ul class="list-group">
  <li class="list-group-item" ng-repeat="dictionary in dictionaries">
    <div class="row">
      <div class="col-xs-7"><a href="#/details/{{dictionary.id}}">{{dictionary.name}}</a></div>
      <div class="col-xs-5 text-center">
        <a href="#/test/{{dictionary.id}}" type="button" class="btn btn-success"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
        <div>
          <small>{{dictionary.questions}} questions</small>
        </div>
      </div>

    </div>
  </li>
</ul>
